header.profile-header{
  align-items: center;
  gap: 1.5rem;
  padding: 0.25rem 1rem;
}

header.profile-header p{
  font-size: smaller;
  color: #666;
  line-height: 1rem;
}

.profile-details .cover,
#edit-profile .cover{
  height: 14rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #eee;
}
#edit-profile .cover{ height: 8rem; }

.profile-details .image,
#edit-profile .image{
  margin-top: -6rem;
  width: 10rem;
  height: 10rem;
  background-color: #fff;
  border-radius: 0.75rem;
}
#edit-profile .image{
  width: 6rem;
  height: 6rem;
}

.profile-details .buttons{
  margin-left: auto;
}

.profile-content{
  min-height: 60%;
  align-items: center;
}

.profile-content .zero-results{
  width: 60%;
}
.profile-content .zero-results h1{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}
.profile-content .zero-results p{
  padding: 0.5rem 0px;
  color: #000a;
}

#edit-profile{
  align-items: flex-start;
  padding: 0px;
  min-width: 420px;
}
#edit-profile .edit-profile{
  background-color: red;
  border-radius: inherit;
}